

fieldset{
  label{
    font-size: 12px!important;
  }
}

.form-label-group > input:not(:focus):not(:placeholder-shown) ~ label, .form-label-group textarea:not(:focus):not(:placeholder-shown) ~ label{
  //color: rgba(34, 41, 47, 0.65) !important;
  color: #5e5873!important;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  display: none;
  content: "Выбирать"!important;
}

#home-layout{
  background-size: cover;
  background-position: top center;
  #main-layout-section{
    .main-height{
      min-height: 88.8vh;
      img{
        width: 40%;
      }
    }
    .main-section-item{
      i{
        font-size: 72px;
      }
    }

  }
}
.creator{
  position: absolute;
  bottom: 0;
  right: 0;
}
